
/* 
    Created on : 24-mar-2019, 15:50:50
    Author     : RUBEN DARIO
*/
body{
    background: #204d74;
}
#cuadro{
    width: 550px;
    border-bottom: 1px solid #58acfa;
    border-top: 1px solid #58acfa;
    border-left: 1px solid #58acfa;
    border-right: 1px solid #58acfa;
    margin: auto;
    margin-top: 190px;
    border-radius: 10px;
    opacity: 0.7px;
   
}
#cabecera{
    width: 548px;
    background: #46b8da;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 11px;
    padding-top: 6px;
    color: #000;
    
}
#cuerpo{
    height: 170px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
}

